<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PRJ666</title>
<meta name="description" content="">

<!-- core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../css/prettyPhoto.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/responsive.css" rel="stylesheet">
</head>
<!--/head-->

<body class="homepage">
<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
        </button>

        <a class="navbar-brand" href="/"><i class="fa fa-bolt"></i> Gaming Cafe</a></div>

      <div class="collapse navbar-collapse navbar-right">

        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="about-us">About</a></li>
          <li><a href="menu">Menu</a></li>
          {{#if session.user}}
            {{#ifEqual session.user.userType "customer"}}
              <li><a href="reservation">Make a Reservation</a></li>
            {{/ifEqual}}
            <!-- Only Show Reservation List for staff accounts -->
            {{#ifEqual session.user.userType "staff"}}
              <li><a href="staff">Reservation List</a></li>
            {{/ifEqual}}
          {{/if}}
          <li><a href="pricing">Prices</a></li>
          <li><a href="contact-us">Contact</a></li>
          {{#if session.user}}
              <li>
                <div class="dropdown">{{session.user.username}}
                  <div class="dropdown-content">
                    <a href="logout">Logout</a>
                  </div>
                </div>
              </li>
            {{else}}
              <li><a href="login">Login</a></li>
            {{/if}}
        </ul>

      </div>
    </div>
    <!--/.container--> 
  </nav>
  <!--/nav--> 
  
</header>
<!--/header-->

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
      <li data-target="#main-slider" data-slide-to="1"></li>
      <li data-target="#main-slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(../images/slider/bg1.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Welcome to <span class="logo"><i class="fa fa-bolt"></i> The Premier Gaming Cafe</span></h1>
                <h2>The best rated Gaming Cafe in Toronto</h2>
                <a class="btn-slide" href="about-us">Read More</a> </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item-->
      
      <div class="item" style="background-image: url(../images/slider/bg2.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Over 600 Fun games</h1>
                <h2>From Mario Party to CS:GO we have every game you need to have a great time</h2>
                <a class="btn-slide" href="about-us">Read More</a> </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item-->
      
      <div class="item" style="background-image: url(../images/slider/bg3.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Enjoy Great tasting fun and drink while you game</h1>
                <h2>Enjoy a hot drink or a cold drink. Alcoholic drinks Available as well</h2>
                <a class="btn-slide" href="about-us">Read More</a> </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item--> 
    </div>
    <!--/.carousel-inner--> 
  </div>
  <!--/.carousel--> 
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"></i> </a> </section>
<!--/#main-slider-->
<div class="color-border"> </div>
<section id="feature" >
  <div class="container">
    <div class="center">
      <h2>Featured Services</h2>
      <p class="lead"></p>
    </div>
    <div class="row">
      <div class="features">
        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-desktop"></i>
            <h2>Catering</h2>
            <h3>We now provide catering. Visit our events page to find out more information</h3>
          </div>
        </div>
        <!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-cogs"></i>
            <h2>Our Covid Safety Procedures</h2>
            <h3>We take many precautions in order to ensure the safety of our guest</h3>
          </div>
        </div>
        <!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-rocket"></i>
            <h2>Brand &amp; Identity</h2>
            <h3>Safety is our number one priority. We strive to ensure a fun and safe enviroment for both staff and customers alike</h3>
          </div>
        </div>
        <!--/.col-md-4--> 
      </div>
      <!--/.services--> 
    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<!--/#feature-->

<section id="recent-works">
  <div class="container">
    <div class="center">
      <h2>Recent Games Added</h2>
      <p class="lead">New fun party games are added every week. Take a look at our recently added games</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="recent-work-wrap"> <img class="img-responsive" src="../images/portfolio/recent/item1.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Counter Strike Source</a> </h3>
              <p>Counter-Strike: Source blends Counter-Strike's award-winning teamplay action with the advanced technology of Source technology.</p>
              <a class="preview" href="../images/portfolio/full/item1.jpg" rel="prettyPhoto" title=""><i class="fa fa-search"></i> View</a> </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="recent-work-wrap"> <img class="img-responsive" src="../images/portfolio/recent/item2.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Mario Party 8</a></h3>
              <p>Mario Party 8 includes six brand-new boards, dozens of minigames and tons of new modes in this fun party game</p>
              <a class="preview" href="../images/portfolio/full/item2.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="recent-work-wrap"> <img class="img-responsive" src="../images/portfolio/recent/item3.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Mario Kart</a></h3>
              <p>Hit the road with the definitive version of Mario Kart 8 and play anytime, anywhere! Race your friends or battle them in a revised battle mode</p>
              <a class="preview" href="../images/portfolio/full/item3.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="recent-work-wrap"> <img class="img-responsive" src="../images/portfolio/recent/item4.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Jackbox Party Games</a></h3>
              <p>Experience five fun games in one great pack – giving you the perfect excuse for rounding up friends, family and fellow gamers for a few hours of gaming delight</p>
              <a class="preview" href="../images/portfolio/full/item4.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="recent-work-wrap"> <img class="img-responsive" src="../images/portfolio/recent/item5.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Pummel Party</a></h3>
              <p> Pummel friends or AI using a wide array of absurd items in the board mode and compete to destroy friendships in the unique collection of minigames.</p>
              <a class="preview" href="../images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="recent-work-wrap"> <img class="img-responsive" src="../images/portfolio/recent/item6.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Minecraft</a></h3>
              <p>Explore infinite worlds and build everything from the simplest of homes to the grandest of castles.</p>
              <a class="preview" href="../images/portfolio/full/item6.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<!--/#recent-works-->

<section id="testimonials" class="service-item">
  <div class="container">
    <div class="center">
      <h2>What Our Customers Say</h2>
      <p class="lead"></p>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row testimonials">
          <div class="col-sm-4">
            <blockquote>
              <p class="clients-words">I had a great birthday here, thanks to staff for making it a safe and fun time.</p>
              <span class="clients-name">- John Doe</span> <img class="img-circle img-thumbnail" src="../images/testimonials/man1.jpg"> </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <p class="clients-words">Great place to relax and drink after work!</p>
              <span class="clients-name">- Jane Doe</span> <img class="img-circle img-thumbnail" src="../images/testimonials/woman1.jpg"> </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <p  class="clients-words">The Gaming cafe caterted to my company party and we had a great time playing classic video games!</p>
              <span class="clients-name">- Brian Smith</span> <img class="img-circle img-thumbnail" src="../images/testimonials/man1.jpg"> </blockquote>
          </div>
        </div>
        <!--/.row--> 
      </div>
      <!--/.col--> 
    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<!--/#testimonials-->

<section id="middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Some Facts About Us</h3>
        <br>
        <div class="media"> <i class="fa fa-smile-o pull-left fa-3x"></i>
          <div class="media-body">
            <h3 class="media-heading"> 12000+ Happy Customers Servered </h3>
            Etiam eget nisl vel justo suscipit ullamcorper sed at lacus.</div>
        </div>
        <br>
        <div class="media"> <i class="fa fa-check-square-o pull-left fa-3x"></i>
          <div class="media-body">
            <h3 class="media-heading"> 600+ Games Available </h3>
            Sed scelerisque nunc quis est efficitur dictum vivamus commodo.</div>
        </div>
        <br>
        <div class="media"> <i class="fa fa-trophy pull-left fa-3x"></i>
          <div class="media-body">
            <h3 class="media-heading"> 20 Awards Won </h3>
            Pellentesque hendrerit arcu luctus facilisis erat consectetur.</div>
        </div>
      </div>
      <!--/.col-sm-6-->
      
      <div class="col-sm-6">
        <div class="accordion">
          <h3>Questions & Answers</h3>
          <br>
          <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
              <div class="panel-heading active">
                <h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1"> Vivamus commodo nisi risus? <i class="fa fa-angle-right pull-right"></i> </a> </h3>
              </div>
              <div id="collapseOne1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="media accordion-inner">
                    <div class="media-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl vel justo suscipit ullamcorper sed at lacus. Aliquam euismod nunc id eros sollicitudin interdum. Integer eget sem nec nulla dictum dictum. </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1"> Etiam eget vel justo suscipit ullamcorpe? <i class="fa fa-angle-right pull-right"></i> </a> </h3>
              </div>
              <div id="collapseTwo1" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl vel justo suscipit ullamcorper sed at lacus. Aliquam euismod nunc id eros sollicitudin interdum. Integer eget sem nec nulla dictum dictum. </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1"> Integer eget sem nec nulla dictum dictum? <i class="fa fa-angle-right pull-right"></i> </a> </h3>
              </div>
              <div id="collapseThree1" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl vel justo suscipit ullamcorper sed at lacus. Aliquam euismod nunc id eros sollicitudin interdum. Integer eget sem nec nulla dictum dictum. </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1"> Maecenas tincidunt venenatis tempus? <i class="fa fa-angle-right pull-right"></i> </a> </h3>
              </div>
              <div id="collapseFour1" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl vel justo suscipit ullamcorper sed at lacus. Aliquam euismod nunc id eros sollicitudin interdum. Integer eget sem nec nulla dictum dictum. </div>
              </div>
            </div>
          </div>
          <!--/#accordion1--> 
        </div>
      </div>
    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<!--/#middle-->

<section id="partner">
  <div class="container">
    <div class="center">
      <h2>Our Awesome Sponsers</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum. Nunc quis semper sem.<br>
        Morbi libero elit elementum quis faucibus ac, condimentum quis nibh.</p>
    </div>
    <div class="partners">
      <ul>
        <li> <a href="#"><img class="img-responsive" src="../images/partners/partner1.png"></a></li>
        <li> <a href="#"><img class="img-responsive" src="../images/partners/partner2.png"></a></li>
        <li> <a href="#"><img class="img-responsive" src="../images/partners/partner3.png"></a></li>
        <li> <a href="#"><img class="img-responsive" src="../images/partners/partner4.png"></a></li>
        <li> <a href="#"><img class="img-responsive" src="../images/partners/partner5.png"></a></li>
      </ul>
    </div>
  </div>
  <!--/.container--> 
</section>
<!--/#partner-->

<section id="get-started">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Want to discuss an event?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl vel justo suscipit ullamcorper sed at lacus.<br>
          Aliquam euismod nunc id eros sollicitudin interdum.</p>
        <a href="contact-us" class="btn btn-primary">Contact us</a> </div>
    </div>
  </div>
  <!--/.container--> 
</section>
<!--/#get-started-->

<div class="color-border"> </div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2021 Gaming Cafe. Design by <a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer--> 

<script src="../js/jquery.js"></script> 
<script src="../js/bootstrap.min.js"></script> 
<script src="../js/jquery.prettyPhoto.js"></script> 
<script src="../js/jquery.isotope.min.js"></script> 
<script src="../js/main.js"></script>
<script src="../app.js"></script>
</body>
</html>