<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gaming Cafe | Menu</title>
<meta name="description" content="">

<!-- core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../css/prettyPhoto.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/responsive.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<!--/head-->

<body>
<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/"><i class="fa fa-bolt"></i> Gaming Cafe</a></a> </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="about-us">About</a></li>
          <li class="active"><a href="menu">Menu</a></li>
          <li><a href="reservation">Make a Reservation</a></li>
          <li><a href="pricing">Prices</a></li>
          <li><a href="contact-us">Contact</a></li>
          {{#if session.user}}
              <li>
                <div class="dropdown">{{session.user.username}}
                  <div class="dropdown-content">
                    <a href="logout">Logout</a>
                  </div>
              </div></li>
            {{else}}
              <li><a href="login">Login</a></li>
            {{/if}}
        </ul>
      </div>
    </div>
    <!--/.container--> 
  </nav>
  <!--/nav--> 
  
</header>
<!--/header-->
<div class="color-border"> </div>
<section id="inner-page">
  <div class="container">
    <div class="center">
      <h2>Reservation List</h2>
      <p class="lead">All current reservations</p>
    </div>
    <div class="row">
      <div class="features">
        <div class="col-md-4 col-sm-6">
         
         
          
        </div>
        <!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6">
 <label for="name">Name: </label> <input type="text" readonly="readonly"> <br>
 <label for="email">Email: </label> <input type="text" readonly="readonly">  <br>
 <label for="number">Phone Number: </label> <input type="text" readonly="readonly"> <br>
 <label for="date">Time: </label> <input type="text" readonly="readonly">  <br>
 <label for="people">People: </label> <input type="text" readonly="readonly"> <br>
 <label for="cafe">Cafe: </label> <input type="text" readonly="readonly"> <br>
        
        </div>
        <!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6">
         
           
         
        </div>
        <!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6">
        
        </div>
        <!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6">
          
        </div>
        <!--/.col-md-4-->
       
        <!--/.col-md-4--> 
      </div>
      <!--/.services--> 
    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<!--/#inner-page-->

  <!--/.container--> 
</section>
<!--/#get-started-->
<div class="color-border"> </div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2021 Gaming Cafe Design by <a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer--> 

<script src="../js/jquery.js"></script> 
<script src="../js/bootstrap.min.js"></script> 
<script src="../js/jquery.isotope.min.js"></script> 
<script src="../js/main.js"></script>
<script src="../app.js"></script>
</body>
</html>